body {
    background-image: url(../API1/assets/Pokebackground.jpg);
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    background-size: cover;
    
}